<div class="card">
    <h3><%= story.title %></h3>
    <p><%= story.first %></p>
    ...
    <p><%= story.last || '' %></p>
    <p><%= story.position %>/<%= story.max_haps %></p>
    <a href="/happening/<%= story.id %>">Continue this happening</a>
  </div>