<div class="card">
  <div class = "haps">
    <h2 class = "title"><%= story.title %></h2>
      <div class="hap"><%= `"${story.first_hap}..."` %></div>
      ...
      <div class="hap"><%= `"...${story.last}..."`|| '' %></div>
      <% if (!!story.position) { %>
        <div><%= story.position %>/<%= story.max_haps %></div>
      <% } %>
      <a href="/happening/<%= story.id %>">Continue this happening</a>
  </div>
</div>