<!DOCTYPE html>
<html>
  <%- include('partials/head'); -%>

<body>
    <%- include('partials/nav'); -%>
  
    <button><a href="/new-happening">New Story</a></button>
    <button>Instructions</button>
    <section id="card-section">
      <h2>Continue... <button>&#8635;</button> </h2>
      <%- include('partials/card'); -%>
      <%- include('partials/card'); -%>
      <%- include('partials/card'); -%>
    </section>
    <%- include('partials/footer'); -%>
    <% happenings.forEach(happening => { %>
      <%= happening.title %>
    <% }) %>
</body>