<!DOCTYPE html>
<html>
 <%- include('../partials/head'); -%>

<body>
   <%- include('../partials/nav'); -%>
   <p><%= happenings.title %></p>
   <div class ="hap"><%= happenings.first_hap %></div>
   <% haps.forEach(hap => {  %>
    <div class="hap"><%= hap.body %></div>
  <% }) %>
   <%- include('../partials/footer'); -%>
</body>