<!DOCTYPE html>
<html>
 <%- include('../partials/head'); -%>

<body>
  <%- include('../partials/nav'); -%>
  <div class="full-story">
    <h2><%= happenings.title %></h2>
    <h3><%= happenings.first_hap %></h3>
    <div class="story-parts">
    <% haps.forEach(hap => {  %>
      <span><%= hap.body %></span>
    <% }) %>
    </div>
    <form method="POST" action="/hap">
      <h4>Add to the Story</h4>
      <textarea></textarea>
      <button>Add This!</button>
    </form>
    <form method="POST" action="/hap/<%=haps[haps.length -1].id%>">
      <input type="hidden" name="_method" value="PUT" />
      <input type="hidden" name="id_of_happening" value="<%=happenings.id%>" />
      <h4>Edit Your Last Contribution</h4>
      <textarea name="body"><%= haps[haps.length - 1].body %></textarea>
      <button>Update This!</button>
    </form>
    <form method="POST" action="/happening/<%=happenings.id%>">
      <input type="hidden" name="_method" value="DELETE" />
      <h4>Delete Your Happening</h4>
      <button>Delete This!</button>
    </form>
  </div>
  <%- include('../partials/footer'); -%>
</body>